@layer vuetify-overrides {
  code,
  pre,
  .v-code {
    font-family: var(--font-mono);
  }
}

.v-list-item__prepend {
  display: block !important;
}
.v-list-group__items .v-list-item {
  padding-inline-start: 30px;
}
